<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Resources</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
  <body>

	<nav>
  	<ul>
	 <li><a href="{{ url_for('index') }}">Home</a></li>
	 <li><a href="{{ url_for('resources') }}">Resources</a></li>
  	 <li><a href="{{ url_for('about') }}">About</a></li>
   	 <li><a href="{{ url_for('contact') }}">Contact</a></li>
  	</ul>
	</nav>

  <div id="resources">
  <h2 class="resources-h2">Resources</h2>
  <p>If you or someone you know is struggling with suicidal thoughts, it is important to seek help immediately. Below are some resources that can provide assistance:</p>
  <ul>
    <li><a href="https://blog.opencounseling.com/hotlines-bd/" target="_blank">Free Telephone Counseling</a>: This 24/7 hotline provides free and confidential support for people in distress, as well as resources for loved ones and professionals.</li>
    <li><a href="https://findahelpline.com/organizations/kaan-pete-roi" target="_blank">Suicide Prevention Center</a>: Kaan Pete Roi is Bangladesh’s first and only emotional support and suicide prevention helpline, staffed by trained volunteers, which people can call to receive immediate support. The mission of the helpline is to alleviate feelings of despair, isolation, distress, and suicidal intent among members of our community. KPR accomplishes this through confidential, compassionate, and open-minded listening and is the Bangladeshi member of Befrienders Worldwide.</li>
    <li><a href="https://findahelpline.com/bd" target="_blank">Immediate Help</a>: This page provides information on how to get help in a crisis, including hotlines, crisis centers, and emergency services.</li>
  </ul>
  <p>While seeking professional help is important, there are also steps you can take to support yourself or someone you know who may be struggling with suicidal thoughts:</p>
  <ul>
    <li>Encourage open and honest communication: It can be difficult to talk about suicidal thoughts, but creating a safe and supportive environment can help someone feel comfortable opening up.</li>
    <li>Offer practical support: This can include helping with daily tasks, such as grocery shopping or running errands, or assisting with finding and accessing mental health resources.</li>
    <li>Practice self-care: This can include engaging in activities you enjoy, spending time with loved ones, and prioritizing your mental and physical health.</li>
    <li>Remove access to means: If someone is actively suicidal, it is important to remove any access to firearms, medications, or other items that could be used for self-harm.</li>
  </ul>
  <p>Below are some additional articles and resources that can provide more information on suicide prevention:</p>
  <ul>
    <li><a href="https://www.nimh.nih.gov/health/topics/suicide-prevention/index.shtml" target="_blank">National Institute of Mental Health: Suicide Prevention</a></li>
    <li><a href="https://www.cdc.gov/violenceprevention/suicide/index.html" target="_blank">Centers for Disease Control and Prevention: Suicide Prevention</a></li>
    <li><a href="https://afsp.org/" target="_blank">American Foundation for Suicide Prevention</a></li>
  </ul>
</div>

<footer>
  <div class="footer-container">
    <div class="social-icons">
      <a href="https://www.facebook.com/zahidul.snigdho/" target="_blank">
        <img src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-facebook-square2-512.png" alt="Facebook Icon" width="40" height="40"  style="border-radius: 50%;">
      </a>

      <a href="https://github.com/Snigdho8869" target="_blank">
        <img src="https://i.ibb.co/sRB0xx6/download.png" alt="GitHub Profile" width="40" height="40"  style="border-radius: 50%;">
      </a>
    </div>
    <div class="rights-reserved">
      <p>All Rights Reserved &copy; 2023</p>
    </div>
  </div>
</footer>


  </body>
</html>
